[Unit]
Description=MicroService app - frontend web app service
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/RampUp/RampUp_frontend/frontend/
Environment=PORT=8080 AUTH_API_ADDRESS=http://127.0.0.1:8000 TODOS_API_ADDRESS=http://127.0.0.1:8082
ExecStart=npm start

Restart=always

[Install]
WantedBy=multi-user.target
